Checks: bugprone-*,
        -bugprone-branch-clone,
        -bugprone-easily-swappable-parameters,
        -bugprone-unchecked-optional-access, // has many false positives but should be checked occasionally
        llvm-twine-local,
        llvm-prefer-isa-or-dyn-cast-in-conditionals,
        misc-definitions-in-headers,
        misc-uniqueptr-reset-release,
        misc-static-assert,
        misc-redundant-expression,
        misc-header-include-cycle,
        misc-unused-parameters,
        modernize-make-shared,
        modernize-make-unique,
        modernize-deprecated-headers,
        modernize-use-override,
        modernize-use-using,
        performance-*,
        readability-qualified-auto,
        readability-redundant-smartptr-get,
        readability-redundant-string-cstr,
        readability-simplify-boolean-expr,
        readability-simplify-subscript-expr,
        readability-string-compare,
        readability-uniqueptr-delete-release
